* {
margin: 0;
padding: 0;
box-sizing:border-box;
font-family:'Poppins' , sans-serif ;
}

.container{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(135deg , #115367 , #4e085f);
    padding: 10px;

    
}

.to-do_app{
    margin: 100px auto 20px; 
    background: white;
    max-width: 540px;
    padding: 40px 30px 70px;
    width: 100%;
    border-radius: 10px;

}

.to-do_app h2{
   color: #002765;
   display: flex;
   align-items: center;
   margin-bottom: 20px;

}

.to-do_app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    background: #edeef0;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background:transparent;
    outline: none;
    padding: 10px;
}

button{
    border: none;
    padding:16px 50px;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{

    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;
}